<mat-card class="region-card mt-30 mb-30">

  <div class="region-card-header">
    <h2 class="region-title">{{ regionInfo.name }}</h2>
    <button mat-mini-fab color="primary" class="rotateBtn" (click)="toggleRegionInfo()" matTooltip="Show versions">
      <mat-icon [@rotateIcon]=showRegionInfo>arrow_downward</mat-icon>
    </button>
  </div>

  <div class="region-info">

    <div class="detail-item mt-10">
      <div class="item-label generation">Introduced in:</div>
      <div class="item-value">{{ processGeneration(regionInfo.main_generation.name) }}</div>
    </div>

    <div class="detail-item mt-10">
      <div class="item-label">Locations:</div>
      <div class="item-value">{{ regionInfo.locations.length }}</div>
    </div>

    <div [@showRegion]=showRegionInfo>
      <div class="detail-item versions-item mt-10">
        <div class="item-label">Versions:</div>
        <div class="item-value versions-list row">
          <div *ngFor="let version of versionList" class="col-4 col-sm-3 col-md-2 col-lg-2 version-group">
            <img [defaultImage]="getVersionCover(version)" [lazyLoad]="getVersionCover(version)"
              [matTooltip]="capitalizeVersion(version)"
              class="version-cover-img mt-10 animate__animated animate__fadeIn">
          </div>
        </div>
      </div>

      <div class="detail-item item-map mt-30">
        <div class="item-label">Map:</div>
        <div class="item-value map-value">
          <img [defaultImage]="getRegionMap(regionInfo.name)" [lazyLoad]="getRegionMap(regionInfo.name)"
            class="region-map mt-10 animate__animated animate__fadeIn">
        </div>
      </div>
    </div>

  </div>
</mat-card>