<!-- TYPE DETAILS HEADER -->
<mat-card class="type-details-header mt-50 animate__animated animate__fadeIn" [class]="typeClass">

  <div class="type-header-content">
    <div class="type-header-txt">
      <!-- TYPE NAME -->
      <h1 class="type-header-title">{{ typeName }}</h1>
      <!-- TYPE FIRST APPEARANCE -->
      <div class="detail-item">
        <div class="item-label">First appearance:</div>
        <div class="item-value">{{ typeGeneration }}</div>
      </div>
    </div>
    <!-- TYPE IMAGE -->
    <img [defaultImage]="typeIcon" [lazyLoad]="typeIcon" class="type-header-img animate__animated animate__fadeIn">
  </div>

</mat-card>