<!-- TYPE DETAILS HEADER -->
<mat-card class="type-details-header mt-50 animate__animated animate__fadeIn" [class]="processType(typeInfo)[0].class">

  <div class="type-header-content">
    <div class="type-header-txt">
      <!-- TYPE NAME -->
      <h1 class="type-header-title">{{ typeInfo.name }}</h1>
      <!-- TYPE FIRST APPEARANCE -->
      <div class="detail-item">
        <div class="item-label">First appearance:</div>
        <div class="item-value">{{ processName(typeInfo.generation.name) }}</div>
      </div>
    </div>
    <!-- TYPE IMAGE -->
    <img [defaultImage]="getTypeIcon(typeInfo.name)" [lazyLoad]="getTypeIcon(typeInfo.name)"
      class="type-header-img animate__animated animate__fadeIn">
  </div>

</mat-card>