<footer class="pokedex-footer">
  <div class="container">

    <div class="back-up txt-c mb-50">
      <img src="../../../assets/images/MewLoader.png" class="mew-img" matTooltip="Go back to top"
        (click)="scrollTo('top')">
    </div>

    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="pages-title">Pages</h2>
        <div class="pages-links">
          <a href="http://localhost:4200/pokedex" target="_blank" class="pages-link">Home</a>
          <a href="http://localhost:4200/pokemon-list" target="_blank" class="pages-link">Pokémons</a>
          <a href="http://localhost:4200/evolutions" target="_blank" class="pages-link">Evolutions</a>
          <a href="http://localhost:4200/types" target="_blank" class="pages-link">Types</a>
          <a href="http://localhost:4200/regions" target="_blank" class="pages-link">Regions</a>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="pages-title">Check My Work</h2>
        <div class="pages-links">
          <a href="http://localhost:4200/pokedex" target="_blank" class="pages-link">My Porfolio</a>
        </div>
      </div>
    </div>

    <div class="row mt-50">
      <div class="copyrights txt-c">
        &copy; Thomas Lenoel 2020 - All rights reserved
      </div>
    </div>

  </div>
</footer>