<div class="pokemon-card animate__animated animate__fadeIn" [class]="pokemon?.card.class" matRipple>

  <div class="left-section">
    <h5 class="card-id">{{ pokemonId }}</h5>
    <h2 class="card-title">
      {{ pokemonName }}
      <i *ngIf="hasGender" [class]="gender"></i>
    </h2>

    <div class="pokemon-card-types">
      <div class="type" *ngFor="let type of pokemontypes">
        <img [defaultImage]="type.img" [lazyLoad]="type.img" class="type-img animate__animated animate__fadeIn">
      </div>
    </div>
  </div>

  <div class="right-section">
    <img [defaultImage]="pokemon?.img" [lazyLoad]="pokemon?.img"
      class="pokemon-card-img animate__animated animate__fadeIn"
      onerror="this.src='../../../assets/images/img-placeholder.gif'">
  </div>

</div>