<!-- POKEMON MOVES LIST -->
<div class="moves-list">
  <h1 class="move-title">Moves ({{ movesList.length }})</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let move of movesList">

      <!-- POKEMON MOVE NAME + TYPE -->
      <mat-expansion-panel-header>
        <mat-panel-title class="move-name">{{ move.name }}</mat-panel-title>
        <span class="move-type">
          <img [src]="getTypeIcon(move.detail.type.name)" class="type-img">
        </span>
      </mat-expansion-panel-header>

      <!-- MOVE EFFECTS -->
      <div class="effects" *ngFor="let entry of move.detail.effect_entries">

        <!-- MOVE TYPE -->
        <div class="type mb-20">
          <img [src]="getTypeIcon(move.detail.type.name)" class="type-img clickable"
            (click)="goToTypeDetails(move.detail.type)">
        </div>

        <div *ngIf="entry.language.name === 'en'" class="move-effect">
          <div class="row move-details">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <!-- MOVE ACCURACY -->
              <div class="details-item">
                <div class="move-label skill-label">Accuracy:</div>
                <div class="move-value">{{ move.detail.accuracy }}</div>
              </div>

              <!-- MOVE POWER -->
              <div class="details-item">
                <div class="move-label skill-label">Power:</div>
                <div class="move-value">{{ move.detail.power }}</div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <!-- MOVE PP -->
              <div class="details-item">
                <div class="move-label skill-label">PP:</div>
                <div class="move-value">{{ move.detail.pp }}</div>
              </div>

              <!-- MOVE PRIORITY -->
              <div class="details-item">
                <div class="move-label skill-label">Priority:</div>
                <div class="move-value">{{ move.detail.priority }}</div>
              </div>
            </div>
          </div>

          <!-- MOVE DESCRIPTION -->
          <div class="move-txt">{{ entry.effect }}</div>

        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>