<!-- PAGE HEADER -->
<app-page-header [title]="pageTitle"></app-page-header>

<!-- CONTAINER -->
<div class="page-wrapper">
  <div class="container">

    <!-- PAGE LOADER -->
    <div class="loader-container" *ngIf="isLoading">
      <app-pokemon-loader [message]="loadingMessage"></app-pokemon-loader>
    </div>

    <!-- POKEMON DETAILS HEADER -->
    <section class="pokemon-detail-header" *ngIf="showHeader">
      <app-pokemon-detail-header [pokemonDetails]="pokemonDetails"></app-pokemon-detail-header>
    </section>

    <!-- POKEMON STATS -->
    <section class="mt-50 mb-50 animate__animated animate__fadeIn" *ngIf="showStats">
      <app-stats-list [statsList]="pokemonDetails?.stats"></app-stats-list>
    </section>

    <!-- POKEMON SPRITES -->
    <section class="mt-50 mb-50 animate__animated animate__fadeIn" *ngIf="showSprites">
      <app-sprites-gallery [spritesList]="pokemonDetails?.sprites"></app-sprites-gallery>
    </section>

    <!-- POKEMON ABILITIES -->
    <section class="mt-50 mb-50 animate__animated animate__fadeIn" *ngIf="showAbilities">
      <app-abilities-list [abilitiesList]="pokemonDetails?.abilities"></app-abilities-list>
    </section>

    <!-- POKEMON MOVES -->
    <section class="mt-50 mb-50 animate__animated animate__fadeIn" *ngIf="showMoves">
      <app-moves-list [movesList]="pokemonDetails?.moves"></app-moves-list>
    </section>

  </div>
</div>