<!-- POKEMON DETAILS HEADER -->
<mat-card class="pokemon-details-header animate__animated animate__fadeIn" [class]="pokemonDetails?.colour.class">

  <!-- POKEMON STATS -->
  <div class="pokemon-stats">
    <div class="stats">

      <!-- POKEMON NAME -->
      <h1 class="pokemon-name">{{ pokemonName }}</h1>

      <div class="details-items-grid">

        <!-- POKEMON HEIGHT -->
        <div class="details-item">
          <div class="header-label">Height :</div>
          <div class="header-value">{{ pokemonHeight }} m</div>
        </div>

        <!-- POKEMON WEIGHT -->
        <div class="details-item">
          <div class="header-label">Weight :</div>
          <div class="header-value">{{ pokemonWeight }} Kg</div>
        </div>

        <!-- POKEMON BASE XP -->
        <div class="details-item">
          <div class="header-label">Base Exp :</div>
          <div class="header-value">{{ baseExperience }} pts</div>
        </div>

        <!-- POKEMON TYPES -->
        <div class="details-item item-types">
          <div class="header-label">Type(s) :</div>
          <div class="types-container">
            <div class="type" *ngFor="let typeObject of pokemontypes" (click)="goToTypeDetails(typeObject.name)">
              <img [defaultImage]="typeObject.img" [lazyLoad]="typeObject.img"
                class="type-img animate__animated animate__fadeIn">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- POKEMON IMAGE -->
  <div class="header-img animate__animated animate__fadeInRight animate__delay-1s">
    <img [defaultImage]="pokemonDetails?.img" [lazyLoad]="pokemonDetails?.img"
      class="pokemon-img animate__animated animate__fadeIn">
  </div>

  <!-- POKEMON BACKGROUND GIF -->
  <div *ngIf="hasGif">
    <img [defaultImage]="pokemonGif" [lazyLoad]="pokemonGif" class="animate__animated animate__fadeIn"
      [class]="selectedGifClass.class">
  </div>
</mat-card>