.page-header {
  height: 25vh;
  background-image: url("../../../assets/images/Stars.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title {
  color: white;
  font-size: xx-large;
  margin: 0 !important;

  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

.header-img {
  width: 50px;
  margin-left: 25px;
}

.right-img {
  height: 80%;
  position: absolute;
  right: 5%;
  top: 10%;
  bottom: 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.right-img:hover {
  height: 70%;
  top: 15%;
}

img:focus {
  outline: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 500px) {
  .page-header {
    height: 15vh;
  }
}

@media only screen and (max-width: 359px) {
  .header-title {
    font-size: x-large;
  }
}
