<div class="container">

  <div class="navigation-box">
    <div class="box-container">
      <img [src]="boxInfo.bg" class="box-img">
      <div class="overlay"></div>
      <div class="box-content">
        <div class="box-text-container">
          <h1 class="box-title">{{ boxInfo.title }}</h1>
          <h3 class="box-subtitle">{{ boxInfo.subtitle }}</h3>
          <button mat-raised-button color="primary" class="box-button" (click)="navigateTolink()">
            See more
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>