<app-page-header [title]="pageTitle"></app-page-header>

<div class="container mt-10">

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <input placeholder="Search for a Pokémon" class="form-control search-input" [(ngModel)]="searchPokemon">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="filterPokemon">
        <mat-radio-button value="1" class="mr-20">By name</mat-radio-button>
        <mat-radio-button value="2">By type</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>


  <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">

    <div class="row">
      <div *ngFor="let pokemon of pokemonsList | filterPokemons : searchPokemon"
        class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-pokemon-list-card [pokemon]="pokemon" (click)="seeDetails(pokemon)"></app-pokemon-list-card>
      </div>
    </div>

    <div class="loader-container" *ngIf="isLoading">
      <app-pokemon-loader [message]="loadingMessage"></app-pokemon-loader>
    </div>

  </div>

</div>