.main-panel {
  height: 100px;
  overflow-y: scroll;
}
.search-results {
  height: 100%;
}

.example-viewport {
  height: 80vh;
  width: 100%;

  li {
    height: 50px;
    margin: 10px;
  }
}

mat-form-field {
  width: 100%;
}

.search-input {
  margin-bottom: 20px;
}

.loader-container {
  position: fixed;
  top: 35vh;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  text-align: center;
}

.paging-controls {
  padding: 100px 0 50px;
  text-align: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #10182b !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #10182b !important;
}
