<app-page-header [title]="pageTitle"></app-page-header>

<div class="container mt-10">

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Search for a Pokémon</mat-label>
        <input matInput [(ngModel)]="searchPokemon">
      </mat-form-field>
    </div>
  </div>


  <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">

    <div class="row">
      <div *ngFor="let pokemon of pokemonsList | filterPokemons : searchPokemon"
        class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-pokemon-list-card [pokemon]="pokemon" (click)="seeDetails(pokemon)"></app-pokemon-list-card>
      </div>
    </div>

    <div class="loader-container" *ngIf="isLoading">
      <app-pokemon-loader [message]="loadingMessage"></app-pokemon-loader>
    </div>

  </div>

</div>