<section class="home-full-height-container" id="home-full-height-container">
  <div class="home-full-height-bg" id="home-full-height-bg"></div>

  <div class="logo-container" style="width: 100%; padding: 20px; position: relative;">
    <img src="../../../../assets/images/Pokemon Title.png" class="pokemon-logo" style="width: 100%;">
  </div>

  <div class="menu-container" style="width: 100%; padding: 20px;">

    <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
      routerLinkActive="router-link-active" style="width: 100%; margin-bottom: 20px;">Pokémons
    </button>

    <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/evolutions']"
      routerLinkActive="router-link-active" style="width: 100%; margin-bottom: 20px;">Evolutions
    </button>

    <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
      routerLinkActive="router-link-active" style="width: 100%; margin-bottom: 20px;">Types
    </button>

    <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
      routerLinkActive="router-link-active" style="width: 100%; margin-bottom: 20px;">Regions
    </button>

    <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
      routerLinkActive="router-link-active" style="width: 100%; margin-bottom: 20px;">Games
    </button>
  </div>

</section>