.about {
  margin-top: 50px;
  background-color: #181716;
  padding: 50px 0;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-content-txt {
  font-family: "Aldrich", sans-serif !important;
  font-weight: 100;
  text-transform: uppercase;
  margin-right: 50px;
  color: white;
}

.lugia-img {
  width: 250px;
}

.introduction {
  line-height: 25px;
}

.regions {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 300px;
}

.region-img {
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(140deg, #181716 10%, rgba(24, 23, 22, 0.9139005944) 35%, rgba(255, 255, 255, 0) 88%);
}

.region-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.region-text {
  font-family: "Aldrich", sans-serif !important;
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

.region-button {
  font-family: "Aldrich", sans-serif !important;
  font-weight: 100;
  text-transform: uppercase;
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 500px) {}