<section id="landing">
  <app-landing></app-landing>
</section>

<section id="about">
  <app-about-article></app-about-article>
</section>

<section id="pokemons" data-aos="fade-in">
  <app-navigation-box [boxInfo]="boxes.pokemons"></app-navigation-box>
</section>

<section id="evolutions" data-aos="fade-in">
  <app-navigation-box [boxInfo]="boxes.evolutions"></app-navigation-box>
</section>

<section id="types" data-aos="fade-in">
  <app-navigation-box [boxInfo]="boxes.types"></app-navigation-box>
</section>

<section id="regions" data-aos="fade-in">
  <app-navigation-box [boxInfo]="boxes.regions"></app-navigation-box>
</section>