<section class="home-full-height-container" [ngStyle]="{'height': windowHeight}">
  <div class="home-full-height-bg"></div>

  <img src="../../../../assets/images/Pokemon Title.png" class="logo-small animate__animated animate__zoomIn">
  <div class="dev-container-small animate__animated animate__fadeInUp animate__delay-1s">
    <img src="../../../../assets/images/Wallpapers/MyPokeball.png" class="dev-pokeball">
    <h5 class="dev-name">Thomas Lenoel</h5>
    <h6 class="dev-title">Web & Mobile Developer</h6>
  </div>

  <div class="menu">

    <div class="logo-container">
      <img src="../../../../assets/images/Pokemon Title.png" class="pokemon-logo animate__animated animate__zoomIn">
    </div>
    <div class="buttons-container animate__animated animate__fadeIn animate__delay-1s">
      <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
        routerLinkActive="router-link-active">
        Pokémons
      </button>

      <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
        routerLinkActive="router-link-active">
        Evolutions
      </button>

      <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
        routerLinkActive="router-link-active">
        Types
      </button>

      <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
        routerLinkActive="router-link-active">
        Regions
      </button>

      <button mat-raised-button color="accent" class="menu-button" [routerLink]="['/pokemon-list']"
        routerLinkActive="router-link-active">
        Games
      </button>
    </div>
    <div class="dev-container animate__animated animate__fadeIn">
      <img src="../../../../assets/images/Wallpapers/MyPokeball.png" class="dev-pokeball">
      <h5 class="dev-name">Thomas Lenoel</h5>
      <h6 class="dev-title">Web & Mobile Developer</h6>
    </div>
  </div>
</section>


<!-- <div class="side-panel" [ngClass]="isOpen ? 'open' : 'closed'">

    <div class="side-panel-content">

      <div class="navigation-buttons" *ngIf="showButtons">

        <div class="pokemon-title txt-c mt-20 mb-10 animate__animated animate__zoomIn">
          <img src="../../../../assets/images/Pokemon Title.png" class="pokemon-logo">
        </div>

        <button mat-raised-button color="accent" class="nav-button animate__animated animate__fadeIn animate__delay-1s"
          [routerLink]="['/pokemon-list']" routerLinkActive="router-link-active">
          Pokémons
        </button>

        <button mat-raised-button color="accent" class="nav-button animate__animated animate__fadeIn animate__delay-1s">
          Evolutions
        </button>

        <button mat-raised-button color="accent" class="nav-button animate__animated animate__fadeIn animate__delay-1s">
          Types
        </button>

        <button mat-raised-button color="accent" class="nav-button animate__animated animate__fadeIn animate__delay-1s">
          Regions
        </button>

        <button mat-raised-button color="accent" class="nav-button animate__animated animate__fadeIn animate__delay-1s">
          Games
        </button>

      </div>

      <div class="pokeball-container animate__animated animate__fadeIn" *ngIf="showDev">
        <img src="../../../../assets/images/Wallpapers/MyPokeball.png" class="open-pokeball-img">
        <h5 class="dev-name">Thomas Lenoel</h5>
        <h6 class="dev-title">Web & Mobile Developer</h6>
      </div>

    </div>

  </div> -->