.home-full-height-container {
  background-image: url("../../../../assets/images/Wallpapers/MyPokedex.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 100vh;
}

.side-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.5s;
}

.closed {
  width: 0px;
}

.open {
  width: 300px;
}

.navigation-buttons {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav-button {
  margin: 20px;
  width: 100%;
  width: calc(100% - 40px);
  font-family: "Aldrich", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
}

.pokeball-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.open-pokeball-img {
  width: 50px;
}
